<x-tabs class="taskbar-container">
  <x-tab selected (click) = "expandTaskBar()">
    <x-box>
      <x-icon name="menu" id = "menu-icon"></x-icon>
    </x-box>
  </x-tab>
  
  <x-tab *ngFor = "let board of boards">
    <x-box>
      <x-icon name= "web"></x-icon><!--cannot dynamically change icon...-->
      <x-label *ngIf = "showHide">{{board.title}}</x-label>
    </x-box>
  </x-tab>

  <x-tab (click) = "addNewBoard()">
    <x-box>
      <x-icon name="add-box"></x-icon>
      <x-label *ngIf = "showHide"></x-label>
    </x-box>
  </x-tab>

  <button mat-raised-button color="warn">Warn</button>

</x-tabs>