<mat-toolbar class="taskbar-container">
  <mat-button-toggle-group class="taskbar-tab-group" vertical>
    <mat-button-toggle class="taskbar-tab">
      <mat-icon>dashboard</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="taskbar-tab" *ngFor = "let board of boards">
      <mat-icon>web_asset</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle class="taskbar-tab" (click) = "addNewBoard()">
      <mat-icon>note_add</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>