/*extensions*/
.flexboxColumn{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  /*main*/
  .taskbar-container{
    @extend .flexboxColumn;
    height:100%;
    width:auto;
    max-width:25%;
    padding:0;
    float:left;//parent div width = child div's width
    background-color: #008080;
    
    button{
      height:auto;
      padding:20px;
<<<<<<< HEAD
      justify-content: left;
      background-color: #008080;
=======
      justify-content: center;
>>>>>>> 6072a6036c1f09c70785717f9e2e4b4f887ce3b3
      border-bottom:0.5px solid white;

    }
  }

  