@import 'src/styles.scss';

.navbar-container {
  height:100%;
  background-color: $primary-colour;

  .taskbar-tab-group{
    margin-top: auto;

    mat-icon {
      margin: 15px 0;
      color: $primary-colour-darker;
    }
  }

  .sidenav-panel {
    background-color: $primary-colour-dark;;
  
    .sidenav-tab {
      background-color: $primary-colour-dark;
    }
  }
}
