<mat-sidenav-container class="navbar-container">
  <div class="navbar-content">
    <mat-button-toggle-group class="taskbar-tab-group" vertical value = "home">

      <mat-button-toggle class = "taskbar-tab" (click)="HandleSideNavToggle()" [routerLink] = "['/main/home']" value ="home">
        <mat-icon>home</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle class="taskbar-tab" *ngFor="let board of boards" mat-button (click)="HandleSideNavToggle(board)" [routerLink] = "['/main/grid']">

        <mat-icon>{{board.icon}}</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle class="taskbar-tab" (click)="AddBoard()" *ngIf = "!hidden">
        <mat-icon>add</mat-icon>
      </mat-button-toggle>

    </mat-button-toggle-group>
  </div>

  <mat-sidenav #sidenav mode="side" class="sidenav-panel" position="end">

    <div class="sidenav-header">
      <span [matTooltip] = "GetActiveBoard()?.title" matTooltipPosition = "right">
        <p class = "mat-h2">{{GetActiveBoard()?.title | uppercase | titleLength}}</p>
      </span>
      <mat-icon class = "dropdown-menu" [matMenuTriggerFor]="menu">expand_more</mat-icon>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click) = "MapWindowsToDesktop()">Map windows</button>
      <button mat-menu-item (click) = "boardSettings()">Board Settings</button>
    </mat-menu>

    <mat-list *ngFor="let window of windows" class="sidenav-windows-container">
      <p class = "mat-h4">{{window.windowName}}</p>
      <mat-icon>settings</mat-icon>
    </mat-list>

    <button mat-button class="sidenav-add-button" (click)="AddWindow()">
      <mat-icon>add_to_photos</mat-icon>
    </button>
  </mat-sidenav>
</mat-sidenav-container>
