@import "../../../styles.scss";

.home-container{
    height:92.5%;
    margin:2.5% 2.5% 5% 2.5%;

    mat-grid-list{
        height:100%;
        
        mat-grid-tile {
            background-color: $primary-colour;
            box-shadow:0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            cursor:pointer;
            transition:.5s;

            .tile-content{
                @include flex-display(column, center, center);
                
                mat-icon{
                    @include mat-icon-resize(110px);
                    color: $primary-colour-darker;
                }

                .tile-text{
                    margin:7.5px 0 0 0;
                    color: $primary-colour-darker;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }

        mat-grid-tile:hover{
            background-color: $secondary-colour;
        }
    }
}



