@import "../../../styles.scss";

.home-container{
    height:92.5%;
    margin:2.5% 2.5% 5% 2.5%;

    mat-grid-list{
        height:100%;
        
        mat-grid-tile {
            @include box-shadow();
            background-color: $primary-colour-2;
            cursor:pointer;
            transition:.5s;

            .tile-content{
                @include flex-display(column, center, center);
                
                mat-icon{
                    @include mat-icon-resize(110px);
                    color: $primary-colour-1;
                }

                .tile-text{
                    margin:7.5px 0 0 0;
                    color: $primary-colour-1;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }

        mat-grid-tile:hover{
            background-color: $secondary-colour-1;
        }
    }
}



