<div id="wrapper">
<x-tabs class="taskbar-container">
    <x-tab selected (click) = "expandTaskBar()">
      <x-box>
        <x-icon name="menu" id = "menu-icon"></x-icon>
      </x-box>
    </x-tab>
    <x-tab>
      <x-box>
        <x-icon name="send"></x-icon>
        <x-label *ngIf = "showHide">Task one</x-label>
      </x-box>
    </x-tab>
    <x-tab>
      <x-box>
        <x-icon name="unarchive"></x-icon>
        <x-label *ngIf = "showHide">Task Two</x-label>
      </x-box>
    </x-tab>
  </x-tabs>

  <gridster [options]="options" class="grid-container">
      <gridster-item [item]="item" *ngFor="let item of dashboard">
    </gridster-item>
  </gridster>
  
</div>
