.taskbar-container{
  height:100%;
  max-width:144px;
  width:auto;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  padding:0;
}

.taskbar-container{
  x-tab{
    padding:0;
    height:auto;
  }

  x-box{
    padding:25px 0 25px 0;
  }
}
