<div class = "dialog-header">
    <mat-icon>
        mode_edit
    </mat-icon>
</div>
      
<div class= "dialog-content">
    <h1 mat-dialog-title>Edit Board Settings</h1>

    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Name" [value]="name" [(ngModel)]="name">
        </mat-form-field>
        
        <mat-form-field>
            <mat-select placeholder="Icon" [(ngModel)]="icon">
                <mat-option *ngFor="let icon of icons" [value]="icon">
                    {{icon}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()">CANCEL</button>
        <button mat-button (click)="applyChanges()" tabindex="2">OK</button>
    </div>
</div>