<div class = "dialog-header">
    <mat-icon>
        library_add
    </mat-icon>
</div>
      
<div class= "dialog-content">
    <h1 mat-dialog-title>Create a Window</h1>

    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Name" [value]="name" [(ngModel)]="name">
        </mat-form-field>
        
        <div class="form-flex-container">
            <mat-form-field >
                <input matInput placeholder="File Path" type = "text" [value] = "filePath">   
            </mat-form-field> 

            <mat-icon class = "search-button" (click)="imgFileInput.click()">
              search
            </mat-icon>

            <input hidden type="file" #imgFileInput (change)="onChange($event)"/>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="closeDialog()">CANCEL</button>
        <button mat-button (click)="createWindow()" tabindex="2">OK</button>
    </div>
</div>