<mat-toolbar class="settings-title" >Board Settings</mat-toolbar>

<div mat-dialog-content class="input-wrapper">
  <table>
      <tr>
          <td>
              <mat-form-field>
                  <input matInput type="text" placeholder="Name" [(ngModel)]="boardtitle"/>
                  <button mat-button *ngIf="boardtitle" matSuffix mat-icon-button aria-label="Clear" (click)="boardtitle=''">
                    <mat-icon>mode_edit</mat-icon>
                  </button>
              </mat-form-field>
          </td>
      </tr>
      <tr>
          <td>
              <mat-form-field>
                  <input matInput type="text" placeholder="icon" [(ngModel)]="icon"/>
                  <button mat-button *ngIf="icon" matSuffix mat-icon-button aria-label="Clear" (click)="icon=''">
                    <mat-icon>mode_edit</mat-icon>
                  </button>
              </mat-form-field>
          </td>
      </tr>
  </table>
</div>
<div mat-dialog-actions>
  <button id=settings-delete-btn mat-raised-button (click)="deleteBoard()" tabindex="-1">Delete</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  <button mat-button (click)="renameBoard(name)" tabindex="2">Ok</button>
</div>