@import 'src/styles.scss';

.global-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .left-container{
      height:100%;
      width:auto;
      float:left;
    }

    .right-container{
      overflow:hidden;
      width: auto;
      height:100%;
      position:relative;
      background-color: grey;
    }
  }
