<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of windows">
      <div class="gridster-item-content">
          {{item.windowName}}: {{item.windowFilePath}}
      </div>
      <div class="item-buttons">
        <button mat-icon-button color="warn" class="remove-button"(click)="removeItem($event, item)"
        (touchstart)="removeItem($event, item)" mdTooltip="Remove">
          <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
      </div>
  </gridster-item>
</gridster>