@import 'src/styles.scss';

.dialog-header{
    @include flex-display(column, center, center);
    width:100%;
    height:100px;
    background-color: $primary-colour-3;

    mat-icon{
        @include mat-icon-resize(50px);
        color: white;
    }
}

.dialog-content{
    padding:24px;

    .mat-dialog-content{

        .mat-form-field{
            width: 100%;
        }

        .form-flex-container{
            @include flex-display(row, flex-start, center);

            .search-button{
                margin-left: 10px;
                cursor: pointer;
            }
        }    
    }
    .mat-dialog-actions{
        @include flex-display(row, flex-end, center);
    }
}

