@import 'src/styles.scss';

.dialog-header{
    @include flex-display(column, center, center);
    width:100%;
    height:70px;
    background-color: $secondary-colour-2;

    mat-icon{
        @include mat-icon-resize(50px);
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.content-wrapper {
    @include flex-display(column, center, center);
    width: 100%;
    height: 150px;

}