<div class = "dialog-header">
  <mat-icon>
    error_outline
  </mat-icon>
</div>

<div class="content-wrapper">
  <div mat-dialog-content>
    <h1 mat-dialog-title class = "dialog-text">
      Any unsaved changes to your boards will be discarded.
      Are you sure you want to continue?
    </h1>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="cancelDialog()" tabindex = "-1">CANCEL</button>
    <button mat-button (click)="quitApp()" tabindex = "-1">EXIT</button>
  </div>
</div>
