@import 'src/styles.scss';

.main-container {
    height:100%;

    .top-container{
      height:25px;
      width:100%;
    }
    
    .left-container{
      height: calc(100% - 25px);
      width:auto;
      float:left;
    }

    .right-container{
      overflow:hidden;
      width: auto;
      height: calc(100% - 25px);
      position:relative;
      background-color: $background-colour;
    }
  }
