@import "src/styles.scss";

mat-button:hover{
  color: white;
}

.toolbar-container {
  mat-toolbar {
    @include flex-display(row, flex-start, center);
    min-height: 36px;
    height: 36px;
    padding: 0;
    background-color: $primary-colour-1;
    color: white;

      .menu-button {
        font-size: 18px;
        align-items: center;
        width: 55px !important;
        min-width: 55px !important;
        color: white;
        padding: 0 0 4px 0;
        flex-grow:1;
      }

      .title {
        padding-left: 10px;
        padding-top:2px;
        font-size: 12px;
        -webkit-app-region: drag;
        height:100%;
        flex-grow: 100;
      }

      .right-side-buttons {
        flex-grow: 1;

        .mat-button {
            min-width: 10px;
            min-height: 25px;
            
            mat-icon{
              @include  mat-icon-resize(15px);
            }
        }
      }
    
  }
}


