<div class="toolbar-container">
    <mat-toolbar>
        <mat-toolbar-row>
            <mat-button-toggle (click)="minimizeWindow()">
                <mat-icon>list</mat-icon>
            </mat-button-toggle>
            <div class="title">Workspace</div>
            <div class="right-side-buttons">
                <button mat-button (click)="minimizeWindow()">
                  <mat-icon>remove</mat-icon>
                </button>
                <button mat-button (click)="toggleFullscreen()">
                    <mat-icon>{{fullscreenIcon}}</mat-icon>
                </button>
                <button mat-button (click)="closeWindow()">
                  <mat-icon>clear</mat-icon>
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>