//================IMPORTS==================
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//================VARIABLES==================
$primary-colour: teal;
$primary-colour-dark:#015c5c;

//================MIXINS(REUSABLE STYLES)==================
@mixin flex-display($direction){
  display:flex;
  flex-direction: $direction;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
